<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hash Storage</title>
    <link rel="icon" href="/static/image/icon.ico">
    <link href="/static/index.css" rel="stylesheet">

</head>
<body>
    <div class="container3">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/hash">Upload Hash</a></li>

            </ul>
        </nav>
    </div>

    <div class="container2">
        <h1>File has not been modified</h1>
    </div>

    <canvas  id="canv" />
    <script src="/static/particle.js"></script>
</body>
</html>