<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HashStorage</title>
    <link rel="icon" href="/static/image/icon.ico">
    <link href="/static/index.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h1 class="logo">Hash Storage</h1>
        <p class="text">Попрощайтесь с сомнениями и поприветствуйте доверие с нашей службой проверки файлов на основе технологии блокчейн! <br>
            Защитите свои важные документы и убедитесь в их подлинности с помощью децентрализованных технологий.<br>
            Наш сервис обеспечивает безопасный и прозрачный способ проверки целостности ваших файлов, <br>
            давая вам душевное спокойствие, зная, что ваши данные в безопасности и защищены. <br>
            Попрощайтесь с мошенническими действиями и <br>
            поприветствуйте более безопасное будущее с нашей службой проверки файлов c помошью технологии блокчейна. <br>
            Начните уже сегодня!
        <nav>
            <ul>
                <li><a href="/hash">Upload Hash</a></li>
                <li><a href="/verify">Verify File</a></li>
            </ul>
        </nav>
        <canvas  id="canv" />
    </div>

    <script src="/static/particle.js"></script>
    <script src="/static/connect.js"></script>

</body>
</html>